## Combine two lists, indexwise

In [1]:
list1=["M","na","i","Kh"]
list2=["y","me","s","an"] 
# list3=[["M","y"],["na","me"],["i","s"],["Kh","an"]]

In [3]:
list3=[[i,j] for i in list1 for j in list2 if list1.index(i)==list2.index(j)]
list3

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

## Add a new item to list after a specific item

In [5]:
list1=[10,20,[300,400,[5000,6000],500],30,40]

In [6]:
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

## Update no of items available

In [8]:
candy_list=["Jelly Belly","Kit Kat","Double Bubble","Milky Way","Three Muskeeters"]
no_of_items=[10,20,34,74,32]

In [9]:
for i in range(len(candy_list1)):
  print(candy_list[i],'->',no_of_items[i])

Jelly Belly -> 10
Kit Kat -> 20
Double Bubble -> 34
Milky Way -> 74
Three Muskeeters -> 32

## Running Sum

In [10]:
list1=[1,2,3,4,5,6]
running_sum=[]
running_sum.append(list1[0])
for i in range(1,len(list1)):
  running_sum.append(list1[i]+running_sum[-1])

running_sum

[1, 3, 6, 10, 15, 21]

## Add all the numbers to each number which are greater than itself

In [13]:
lis=[2,4,6,10,1]
ans=[]
for i in lis:
  s=i
  for j in lis:
    s=s+(j if j>i else 0)
  ans.append(s)
ans

[22, 20, 16, 10, 23]

## Common & Unique elements from given lists

In [18]:
num1=[23,45,67,78,89,34]
num2=[34,89,55,56,39,67]

ans=[i for i in num1 if i in num2 if num1.count(i)==num2.count(i)==1]
ans.sort()
ans

[34, 67, 89]

## Sort a list of alphanumeric strings based on product value of their numeric chars

In [40]:
alnum=['1ac21','23fg','456','098d','1','kls']

for i in range(len(alnum)-1):
  for j in range(len(alnum)-1-i):
    x,y=alnum[j],alnum[j+1]
    px,py=1,1
    for z in x:
      if z>='0' and z<='9':
        px=px*(ord(z)-48)
    for z in y:
      if z>='0' and z<='9':
        py=py*(ord(z)-48)
    if px<py:
      alnum[j],alnum[j+1]=alnum[j+1],alnum[j]


# x,y=alnum[j]
# px=py=1
# px,py 
# alnum

(1, 1)

## List Comprehension for a given list

In [35]:
# lis=[[0,1,2],[3,4,5],[6,7,8]]

[[3*i+j for j in range(3)] for i in range(3)]

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

## Union of two lists

In [34]:
lis1=[1,2,3,4,5,1]
lis2=[2,3,5,7,8]

un=lis1.copy()
for i in lis2:
  if i not in lis1:
    un.append(i)

un

[1, 2, 3, 4, 5, 1, 7, 8]

## Max number of each row

In [33]:
lis=[[1,2,3],[4,5,6],[7,8,9]]
[max(i) for i in lis]

[3, 6, 9]

## Transpose of a matrix

In [32]:
mat=[[1,2,3],[4,5,6],[7,8,9]]

[[mat[j][i] for j in range(len(mat[0]))] for i in range(len(mat))]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

## Flatten a matrix

In [31]:
mat=[[1,2,3],[4,5,6],[7,8,9]]

[mat[i][j] for i in range(len(mat)) for j in range(len(mat))]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Add space between potential words

In [30]:
lis=['campusxIs','bestFor','dataScientist']

for i in range(len(lis)):

  for j in range(len(lis[i])):
    if lis[i][j]>='A' and lis[i][j]<='Z':
      lis[i]=lis[i][:j]+' '+lis[i][j:]
      break
                                       #OR
                                       
[ i[:j]+' '+i[j:] for i in lis for j in range(len(i)) if i[j]>='A' and i[j]<='Z']

['campusx  Is', 'best  For', 'data  Scientist']

## Char matrix to a string

In [29]:
lis=[['c','a','m','p','u','s','x'],['i','s'],['b','e','s','t'],['c','h','a','n','n','e','l']]

stri=""
for i in lis:
  y=""
  for x in i:
    y=y+x
  stri=stri+y+' '

stri

'campusx is best channel '

## Split the strings of a list on space

In [24]:
lis=['CampusX is a channel', 'for data-science', 'aspirants.']
ans=[]

for x in lis:
  for y in x.split(' '):
    ans.append(y)

ans

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']