## Join Tuples if similar initial element

In [1]:
test_list=[(5,6),(5,7),(5,8),(6,10),(7,13)]

ans=[]
i=0
while i<len(test_list):
  x=(test_list[i][0],)
  while i<len(test_list) and test_list[i][0]==x[0]:
    x=x+(test_list[i][1],)
    i=i+1
  ans.append(x)

ans

[(5, 6, 7, 8), (6, 10), (7, 13)]

## Multiply Adjacent elements(both side) and take sum of right & left side multiplication result

In [2]:
tup=(1,5,7,8,10)

ans=()

for i in range(len(tup)):
  x=(0 if (i-1)<0 else tup[i-1])*tup[i] + tup[i]*(tup[i+1] if (i+1)<len(tup) else 0)
  ans=ans+(x,)

ans

(5, 40, 91, 136, 80)

## Check if tuples are same

In [3]:
t1=(1,2,3,0)
t2=(0,1,2,3)

t1==t2

False

## Count no of tuples, list and sets from a list

In [6]:
lis=[{'hi','bye'},{'Geeks','forGeeks'},('a','b'),['hi','bye'],['a','b']]

lists=tuples=sets=0

for x in lis:
  if type(x) is list:
    lists=lists+1
  elif type(x) is tuple:
    tuples=tuples+1
  elif type(x) is set:
    sets=sets+1

print('Lists-',lists)
print('Tuples-',tuples)
print('Sets-',sets)

Lists- 2
Tuples- 1
Sets- 2

## Shortlist Students for a Job

In [7]:
rec=int(input("Enter no of records"))
lis=[]

for i in range(rec):
  print("Enter Details of student-{}".format(i+1))
  name=input("Enter Student Name")
  edu=input("Enter Higher Education")
  skill=input("Enter Primary Skill")
  grad_yr=input("Enter Year of Graduation")
  lis.append((name,edu,skill,grad_yr))

print("Enter Job Role Requirement")
req_skill=input("Enter Skill")
req_edu=input("Enter Higher Education")
req_grad_yr=input("Enter Year of Graduation")

f=0
for x in lis:
  if req_skill in x and req_edu in x and req_grad_yr in x:
    f=1
    print(x)

if f==0:
  print("No Such Student")

Enter no of records2
Enter Details of student-1
Enter Student NameManohar
Enter Higher EducationB.Tech
Enter Primary SkillPython
Enter Year of Graduation2022
Enter Details of student-2
Enter Student NamePonian
Enter Higher EducationB.Sc
Enter Primary SkillC++
Enter Year of Graduation2020
Enter Job Role Requirement
Enter SkillPython
Enter Higher EducationB.Tech
Enter Year of Graduation2022
('Manohar', 'B.Tech', 'Python', '2022')

## Common Elements from 3 Sets

In [8]:
ar1={1,5,10,20,40,80}
ar2={6,7,20,80,100}
ar3={3,4,15,20,30,70,80,120}

ar3.intersection(ar1.intersection(ar2))

{20, 80}

## Count Unique no of vowels

In [9]:
Str1="hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"

s=set()
for x in Str1:
  if x in ['a','A','e','E','i','I','o','O','u','U']:
    s.add(x)

len(s)

6

## Check if a string is binary or not

In [10]:
str1='1222211'
str2='CampusX'

s1=set()
s2=set()

for x in str1:
  s1.add(x)

for x in str2:
  s2.add(x)

print(len(s1)==2,len(s2)==2)

True False

## Union of N-Arrays

In [11]:
lis=[[1,2,2,4,3,6],
     [5,1,3,4],
     [9,5,7,1],
     [2,4,1,3]]

s=set()

for x in lis:
  s.update(x)

s

{1, 2, 3, 4, 5, 6, 7, 9}

## Intersection of two sets using Comprehension

In [12]:
set1={15,9,10,56,23,78,5,4,9}
set2={9,4,5,36,47,26,10,45,87}

{x for x in set1 if x in set2}

{4, 5, 9, 10}

## Key with maximum unique values

In [13]:
dic={"CampusX":[5,7,9,4,0], "is":[6,7,4,3,3], "Best":[9,9,6,5,5]}

ans=()
maxi=0
for x in dic.items():
  if len(set(x[1]))>maxi:
    maxi=len(set(x[1]))
    ans=x

ans[0]

'CampusX'

## Replace words from a dict usin a lookup dict

In [15]:
str1='CampusX best for DS students.'
lis=str1.split(' ')
lookup={"best":"is the best channel","DS":"Data-Science"}

for i in range(len(lis)):
  if lis[i] in lookup.keys():
    lis[i]=lookup[lis[i]]

str1=' '.join(lis)
str1

'CampusX is the best channel for Data-Science students.'

## Sort a Dictionary

In [21]:
dic={'c':[3], 'b':[12,10], 'a':[19,4]}

lis=[]
for x in dic.keys():
  lis.append(x)
  dic[x].sort()

lis.sort()
res={}
for x in lis:
  key=x 
  val=dic[x]
  res[key]=val

res

{'a': [4, 19], 'b': [10, 12], 'c': [3]}

## Convert a list of tuples into a Dictionary

In [23]:
lis=[('akash',10), ('gaurav',12), ('anand',14), ('suraj',20), ('akhil',25), ('ashish',30)]

dic={}
for x in lis:
  dic[x[0]]=x[1]

dic

{'akash': 10,
 'gaurav': 12,
 'anand': 14,
 'suraj': 20,
 'akhil': 25,
 'ashish': 30}

## Convert a list into a list of dicts

In [24]:
test=["DataScience",3,"is",8]
key_list=["name","id"]

ans=[]
i=0
while i<len(test):
  dic={}
  for j in range(2):
    key=key_list[i%2]
    val=test[i]
    dic[key]=val
    i=i+1
  ans.append(dic)

ans

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]